body {
  background-color: #000;
  box-sizing: border-box;
  color: #eee;
  font-family: "Raleway", sans-serif;
}

#header {
  padding: 0px 32px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  z-index: 101;
  justify-content: space-between;
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 32px;
  border-bottom: 0.5px solid #ddd;
}

#header-img {
  height: auto;
  width: auto;
  max-width: 245px;
  max-height: 100px;
}

#nav-bar {
  align-self: center;
}

#navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
}

#header-img, li {
  padding: 16px;
  display: inline-block;
}
