/* ===================================
          GLOBAL STYLES
   =================================== */
body {
  background-color: #000;
  box-sizing: border-box;
  font-family: "Trocchi", serif;
}

li {
  list-style: none;
}

#header,
h2,
h3 {
  border-bottom: 0.5px solid #ddd;
}

#main {
  max-width: 1224px;
  margin: 0 auto;
  padding: 0 100px;
}

p {
  color: #fefefe;
}

/* ===================================
            NAVBAR
   =================================== */

#header {
  padding: 0 16px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  z-index: 101;
  justify-content: space-between;
  margin-bottom: 0 0 -16px 36px;
}

#header-img {
  display: block;
  width: 180px;
  height: 100px;
  max-width: 100%;
}

#nav-bar {
  align-self: center;
}

#navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
}

#header-img,
li,
form {
  display: inline-block;
}

.nav-link {
  font-size: 14px;
}

.nav-link:hover {
  color: #3a9bbe;
  opacity: none;
  text-decoration: none;
  border-bottom: 0.5px solid #3a9bbe;
}

/* ===================================
            CONTENT & IMAGES
   =================================== */
   
ul {
  padding-left: 0;
}

section {
  padding: 0 120px;
}

.cover,
.hero,
.carousel,
.hardware_image,
#image,
#video,
form {
  width: 100%;
  height: 100%;
}

.nav-link,
.intro,
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  opacity: 0.8;
  color: #ddd;
}

#main,
footer {
  text-align: center;
}

h2,
h3,
footer {
  padding-top: 160px;
}

.intro {
  font-size: 18px;
  font-style: italic;
}

h4 {
  border-top: 0.5px solid #ddd;
  padding-top: 16px;
}

.hero {
  padding-bottom: 20px;
}

.centerTitle {
  display: block;
  font-size: 24px;
}

.content,
.intro {
  padding-top: 12px;
}

.content {
  text-align: left;
}

.blue_text,
.centerTitle,
h1 {
  color: #3a9bbe;
}

.carousel-control-prev {
  margin-left: -63px;
}

.carousel-control-next {
  margin-right: -63px;
}

.hardware_image,
.centerTitle,
div.video-block {
  padding-top: 72px;
}

/* ===================================
            PRODUCT VIDEO
   =================================== */

.video-border {
  border: 5px outset #ddd;
}

#video-container,
#video {
  margin-bottom: 30px;
}

#video-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
}

/* ===================================
            FORM STYLES
   =================================== */

#form {
  margin: 0 -16px;
  padding: 48px;
}

input {
  background-color: transparent;
  color: inherit;
  border: none;
  margin: 16px 0;
  width: 50%;
  font-size: 12px;
}

input:not([type="submit"]) {
  padding: 16px 0;
  border-bottom: 1px solid #ddd;
  color: #ddd;
  padding-left: 8px;
}

input[type="submit"] {
  background-color: #fefefe;
  color: #000;
  padding: 16px 24px;
  transition: all 0.1s ease;
}

input[type="submit"]:hover {
  background-color: #3a9bbe;
  color: #fefefe;
}

/* ===================================
            MEDIA QUERIES
   =================================== */

@media (min-width: 320px) and (max-width: 767px) {
  #main {
    padding: 0 20px;
  }

  #nav-bar,
  #header-img,
  section,
  .carousel,
  footer,
  ul {
    padding: 0;
  }

  #header,
  input {
    display: block;
  }

  main,
  #nav-bar ul,
  #form {
    margin: 0 auto;
  }

  .carousel-control-next {
    margin-right: -30px;
  }

  .carousel-control-prev {
    margin-left: -30px;
  }

  h2,
  h3 {
    padding-top: 64px;
  }

  .centerTitle {
    margin-bottom: -12px;
    padding-top: 42px;
  }

  div.video-block,
  .hardware_image {
    padding: 42px 0;
  }

  #form {
    padding-top: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 16px;
  }

  .centerTitle,
  .intro,
  h5 {
    font-size: 14px;
  }

  .content,
  .description {
    font-size: 12px;
  }

  input {
    width: 100%;
  }

  input:not([type="submit"]) {
    padding-left: 5px;
  }

  input:not([type="submit"]),
  .nav-link,
  input {
    font-size: 10px;
  }
}