/* ===================================
          GLOBAL STYLES
   =================================== */
body {
  background-color: #000;
  box-sizing: border-box;
  font-family: "Trocchi", serif;
}

li {
  list-style: none;
}

#header,
h1,
h2 {
  border-bottom: 0.5px solid #ddd;
}

#main {
  max-width: 1024px;
  margin: 0 auto;
}

p {
  color: #fefefe;
  padding-top: 1em;
}

.nav-link,
h1,
h2,
h3 {
  text-transform: uppercase;
  opacity: 0.8;
  color: #ddd;
}

/* ===================================
            NAVBAR
   =================================== */

#header {
  padding: 0 1em;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  z-index: 101;
  justify-content: space-between;
  margin-left: -1em;
  margin-right: -1em;
  margin-bottom: 2em;
}

#header-img {
  display: block;
  width: 180px;
  height: 100px;
  max-width: 100%;
}

#nav-bar {
  align-self: center;
}

#navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
}

#header-img,
li,
form {
  display: inline-block;
}

.nav-link {
  font-size: 14px;
}

.nav-link:hover {
  color: #3a9bbe;
  opacity: none;
  text-decoration: none;
  border-bottom: 0.5px solid #3a9bbe;
}

/* ===================================
            CONTENT & IMAGES
   =================================== */

#main,
h3,
.centerTitle,
form {
  text-align: center;
}

h1,
h2 {
  padding-top: 5em;
}

h3 {
  border-top: 0.5px solid #ddd;
  padding-top: 1em;
}

.centerTitle {
  display: block;
  font-size: 1.5em;
  margin-bottom: -15px;
  padding-top: 3em;
}

.carousel {
  margin-bottom: 10px;
  margin-top: -10px;
}

.cover,
.hero,
#image,
.carousel,
.hardware_image,
#video,
form {
  width: 100%;
  height: 100%;
}

#features,
#hardware {
  padding-left: 100px;
  padding-right: 100px;
}

.carousel,
.hardware_image,
.video-block {
  padding-left: 45px;
  padding-right: 5px;
}

.carousel-control-prev {
  margin-left: -28px;
}

.carousel-control-next {
  margin-right: -70px;
}

.hardware_image {
  padding-top: 3em;
  padding-bottom: 100px;
}

/* ===================================
            PRODUCT VIDEO
   =================================== */

.video-border {
  border: 5px outset #ddd;
}

#video-container,
#video {
  margin-bottom: 30px;
}

#video-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
}

/* ===================================
            FORM STYLES
   =================================== */

footer {
  padding-top: 200px;
}

#form {
  margin: 0 -1em;
  padding: 3em;
}

input {
  background-color: transparent;
  color: inherit;
  border: none;
  margin: 1em 0;
  width: 50%;
}

input:not([type="submit"]) {
  padding: 1em 0;
  border-bottom: 1px solid currentColor;
  color: #ddd;
  padding-left: 8px;
  font-size: 14px;
}

input[type="submit"] {
  background-color: #fefefe;
  color: #000;
  padding: 1em 1.5em;
  transition: all 0.1s ease;
}

input[type="submit"]:hover {
  background-color: #3a9bbe;
}

/* ===================================
            MEDIA QUERIES
   =================================== */

@media (min-width: 320px) and (max-width: 767px) {
  #features,
  #hardware,
  #nav-bar,
  #header-img,
  #video,
  footer,
  ul {
    padding: 0;
  }

  #header,
  input {
    display: block;
  }

  main,
  #nav-bar ul {
    margin: 0 auto;
  }

  .cover,
  .carousel {
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .carousel-control-next {
    margin-right: -1.8em;
  }

  .hardware_image,
  div.video-block {
    padding-left: 10px;
  }

  .hardware_image {
    padding-top: 14.4px;
    padding-bottom: 35px;
  }

  .nav-link {
    font-size: 10px;
  }

  h1,
  h2,
  h3 {
    font-size: 14px;
  }

  .centerTitle {
    font-size: 12px;
  }

  input:not([type="submit"]),
  .nav-link,
  input {
    font-size: 10px;
  }

  #form {
    margin: 0 auto;
  }

  input {
    width: 90%;
  }
}